---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import MainButtons from '../components/MainButtons.astro';
import Separator from '../components/Separator.astro';
---

<Layout title="Shadowlos VPN">
	<main class="container mx-auto max-w-2xl">
		<div class="header-section">
			<Header />
		</div>
		
		<Separator />
		
		<div class="buttons-section">
			<MainButtons />
		</div>
	</main>
</Layout>

<style>
	.header-section {
		view-transition-name: header;
	}
</style>
